{% assign author = site.author %}
<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }} / {{ author.name_en }}">
  </div>
  <div class="author__content">
    <h3 class="author__name"><span class="lang-zh">{{ author.name }}</span><span class="lang-en">{{ author.name_en }}</span></h3>
    <p class="author__bio"><span class="lang-zh">{{ author.bio }}</span><span class="lang-en">{{ author.bio_en }}</span></p>
  </div>
  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li class="profile-description">
        <span class="lang-zh">{{ site.description }}</span>
        <span class="lang-en">{{ site.description_en }}</span>
      </li>
      <li><i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span class="lang-zh">{{ author.location }}</span><span class="lang-en">{{ author.location_en }}</span></li>
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
      <li><a href="{{ author.dblp }}"><i class="ai ai-dblp ai-fw" aria-hidden="true"></i> DBLP</a></li>
      <li><a href="https://wyy.gzhu.edu.cn/info/1160/4383.htm"><i class="fas fa-fw fa-university" aria-hidden="true"></i> <span class="lang-zh">学校主页</span><span class="lang-en">University Profile</span></a></li>
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    </ul>
    <div class="author__urls_sm">
      <a href="mailto:{{ author.email }}" aria-label="Email"><i class="fas fa-fw fa-envelope"></i></a>
      <a href="{{ author.googlescholar }}" aria-label="Google Scholar"><i class="fas fa-fw fa-graduation-cap"></i></a>
      <a href="{{ author.dblp }}" aria-label="DBLP"><i class="ai ai-dblp ai-fw"></i></a>
      <a href="https://github.com/{{ author.github }}" aria-label="GitHub"><i class="fab fa-fw fa-github"></i></a>
    </div>
  </div>
</div>
